body {
    text-align: center;
}

.image h2 {
    padding: 20px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

#holding {
    background-image: url('resources/images/holding_onto_and_letting_go.jpg');
}

#defying {
    background-image: url('resources/images/defying_manhood.jpg');
}

#omori {
    background-image: url('resources/images/ominous_red_button.jpg');
}

#finding {
    background-image: url('resources/images/in_my_own_skin.jpg');
}

#beyond {
    background-image: url('resources/images/beyond_face_value.jpg');
}

#preemptive {
    background-image: url('resources/images/preemptive_grief.jpg');
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

@media screen and (min-width: 700px) {
    body {
        text-align: left;
    }

    div {
        margin: 30px;
    }

    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    }
    
    #intro  {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #title {
        max-height: none;
        width: 35%;
        text-align: left;
    }
    #subtitle {
        width: 65%;
        text-align: left;
    }
    
    p.quote {
        font-style: italic;
        font-size: 2em;
    }

    div.image {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 400px;
        min-width: 400px;
        max-width: 400px;
    }
    footer {
        display: flex;
        justify-content: center;
    }
}